.body-class {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

.logo-field {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-span-nav {
    color:#2e2f42;
}

.nav-ref {
    color: #2e2f42;

}

.nav-ref:hover, .nav-ref:focus {
    color: #404bbf;
}

.header-field {
    background: var(--DAIRY, #FCFCFC);

}

.nav-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #2E2F42;
}

.nav-text:hover, .nav-text:focus {
    color: #404bbf
}

.address-li {
   color: #434455;

}
.address-li:hover, .address-li:focus {
    color: #404bbf;
}
.address-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--SLATE, #434455);
}

.section-one-text {
    background-color: #2E2F42;
}

.one-text-head {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: #ffffff;
    text-align: center;
}

.button-class-one {
    background: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.two-text-head {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.two-p-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.three-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}

.three-team {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
    text-align: center;
}

.three-job-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--SLATE, #434455);
    text-align: center;
}

.four-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
}

.footer-section {
    background: var(--NAVY-BLUE, #2E2F42);
}

.footer-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--CLOUD, #F4F4FD);
}

.footer-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.span-footer-logo {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.section-three {
    background-color: #F4F4FD;
}

.li-section-three {
    background-color: #FFFFFF;
}

.button-class-one:hover, 
.button-class-one:focus {
    background-color: #404BBF;
}